{:lein   {:profile "cljs"}
 :nrepl  {:port 9000}
 :builds {:app {:target :react-native
                :init-fn fulcro-expo.app/init
                :output-dir "app"
                :compiler-options {:infer-externs :auto}
                :devtools {:autoload true
                           :preloads [shadow.expo.keep-awake]}}}}
